 <div class="container" style="
         justify-content: center;
         max-width: 100%;
         background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(180deg, #044A92 2.39%, #021F7B 42.09%, #050939 82.26%);
         ">

        <div class="row" ><p></p></div>
        <div class="row" ><p></p></div>
        <div class="row" style="
          width: 70%;
          border-top:2px solid rgba(255, 255, 255, 0.3);
          border-bottom:2px solid rgba(255, 255, 255, 0.3);
          ">
            <div class="col-2">
            </div>
            <div class="col-3" >
               
                <div style="font-size: large;
                color: white;"> <img src="/img/locationpin.png" >
                    German University in Cairo
                </div>
                <div style="
                transform: translateX(20px);
                color: white;">
                    New Cairo City . Main Entrance El-Tagamoa El-Khames 
                </div>
            </div>
        </div>


              
        </div>