
<div class="container-fluid px-1 pt-4 pb-3" style="
max-width: 100%;
background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(180deg, #044A92 2.39%, #021F7B 42.09%, #050939 82.26%);
padding: 0px !important; ">
   <br>
   <div class="row text-center pt-4 pb-3 text-md-left" style="
   width: 80%;
   border-top:2px solid rgba(255, 255, 255, 0.3);
   border-bottom:2px solid rgba(255, 255, 255, 0.3);
   margin-inline-start: 10vw !important;
   ">
   <div class="col-md-3 col-lg-3 col-xl-3 mt-3  mx-auto mt-3" style="font-size: large;
       color: white;">
       <a href="https://www.google.com/maps/place/%D8%A7%D9%84%D8%AC%D8%A7%D9%85%D8%B9%D8%A9+%D8%A7%D9%84%D8%A3%D9%84%D9%85%D8%A7%D9%86%D9%8A%D8%A9+%D8%A8%D8%A7%D9%84%D9%82%D8%A7%D9%87%D8%B1%D8%A9%E2%80%AD/@29.986716,31.4414096,17z/data=!4m12!1m6!3m5!1s0x14583cb2bfafbe73:0x6e7220116094726d!2z2KfZhNis2KfZhdi52Kkg2KfZhNij2YTZhdin2YbZitipINio2KfZhNmC2KfZh9ix2Kk!8m2!3d29.986716!4d31.4414096!3m4!1s0x14583cb2bfafbe73:0x6e7220116094726d!8m2!3d29.986716!4d31.4414096"><img src="img/locationpin.png" ></a>
           <span class="Uni" style=" color: white;">German University in Cairo</span> 
       <p style="
       transform: translateX(20px);
       color: white;" class="footLocation">
           New Cairo City . Main Entrance El-Tagamoa El-Khames 
       </p>
   </div>  
   <div class="col-md-2 col-lg-2 col-xl-2 mt-2 mx-auto mt-3" style="font-size: large;
       color: white;">
       <img src="img/round-phone-24px.png" >
       (+20) 2275899908
   </div>
   <div class="col-md-2 col-lg-2 col-xl-2 mt-2 mx-auto mt-3" style="font-size: large;
       color: white;">
       <img src="img/round-local-printshop-24px.png" >
       (+20 2) 27581041
   </div>
   </div>
   <br>
   <br>
   <div class="row align-items-center w-75" >
      <div class="col-md-4 co-lg-5 offset-3 ">
         <p style="color: white;" class="CopyRights">Copyright © 2021• IEEE HAC & Sight</p>
      </div> 
       <div class="col-md-2 col-lg-2 text-center text-white">
       <ul class="list-unstyled list-inline"> <span class="ReachUs" style=" color: white;">reach us :</span>

          <il class="list-inline-item">
              <a href="https://www.facebook.com/GUC.Official" class="btn-floating btn-sm text-white" ><img src="Img/Facebook.png"></a>
          </il>
           <il class="list-inline-item">
               <a href="http://www.guc.edu.eg/" class="btn-floating btn-sm text-white" ><img src="Img/GooglePlus.png"></a>
           </il>
        </ul> 
       </div>
   </div>
</div>
<script src="/javaScripts/footer.js"></script>

