<nav class="navbar navbar-expand-lg navbar-dark d-absolute py-0 pe-3"
    style="background-color: #050939; padding-bottom: 0px; margin: 0px;">
    <div class="container-fluid">
        <ul>
            <a class="navbar-brand" href='/'><img src="/img/LOGO (3) 1.png" alt="logo"></a>
        </ul>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item me-4">
                    <a class="nav-link button1 btn" href="/about"  type="button"
                        style="font-family: Roboto; font-weight: bold; color: white; background-color: #17A2B8;">About us</a>
                </li>
                <li class="nav-item me-4">

                    <a class="nav-link button2 btn" href="/faq" type="button"
                        style="font-family: Roboto;font-weight:bold; color: white;background-color: #17A2B8; ">FAQ</a>

                </li>
                <li class="nav-item ">
                    <% if (!user){ %>
                        <a class="btn  button3" type="button" id="signin"
                            style="font-family: Roboto;font-weight:bold; color: white; background-color: #17A2B8;">Sign
                            in</a>
                        <% } else { %>
                            <a class="btn button4" type="button" id="logout"
                                style="font-family: Roboto;font-weight:bold; color: white; background-color: #17A2B8;"
                                href="/centers/logout">Logout</a>
                            <% } %>
                </li>
            </ul>
        </div>
    </div>
</nav>
<%- include('success.ejs')%>
    <%- include('error.ejs')%>
        <div class="container thumb-1 overlay" id='sign' style="background: linear-gradient(to right,  #ffff 0%, rgba(194,194,194,1) 100%); 
    z-index: 99999;">

            <div class="row px-2">
                <div class="col-6 offset-3">
                    <img src="/img/logo(4).png" alt="" class="img-fluid logo mt-1">
                </div>
                <div class="col-2 ms-auto mb-2">
                    <button class="btn btn-outline-danger mb-3" id='close_sign'>&#10060</button>
                </div>
            </div>
            <h3 class="display-5 ms-5 mb-2 button3">Login</h3>
            <form action="login/<%=center._id%>" method="POST" class="needs-validation" novalidate>
                <div class="mb-3">
                    <label class="form-label REGnumber" for="username">Registration Number</label>
                    <input class="form-control" type="text" id="username" name="username" required>
                    <div class="invalid-feedback">
                        Please enter the required info
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label IDD" for="password">Last 4 Digits From ID</label>
                    <input class="form-control" type="password" id="password" name="password" required>
                    <div class="invalid-feedback">
                        Please enter the required infp
                    </div>
                </div>

                <button class="btn btn-success button3" type="submit">Login</button>
            </form>

        </div>
        <script src="../javaScripts/navbar.js"></script>
       