<nav class="navbar navbar-expand-lg navbar-dark d-absolute" style="background-color: #050939; padding-bottom: 0px; margin: 0px;">
    <div class="container-fluid">
        <ul>
            <a class="navbar-brand" href='/admin/home'><img src="/img/LOGO (3) 1.png" alt="logo"></a>
        </ul>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item">

                    <a class="nav-link mr-2" type="button" href="/admin/resetpassword"
                        style="font-family: Roboto;font-weight:bold; color: white; ">Reset Password</a>

                </li>
                <li class="nav-item">

                    <a class="nav-link mr-2" type="button" href="/admin/addcenter"
                        style="font-family: Roboto;font-weight:bold; color: white; ">Add Center</a>

                </li>
                <li class="nav-item">

                    <a class="nav-link mr-2" type="button" href="/admin/allreviews"
<<<<<<< HEAD
                        style="font-family: Roboto;font-weight:bold; color: white; ">All Reviews</a>
=======
                        style="font-family: Roboto;font-weight:bold; color: white; ">All Centers</a>
>>>>>>> d807f950eef7d94c4d819ebb76afc425a5b844da

                </li>
                <li class="nav-item">
                    <% if (admin.role==='Admin' ){ %>
                        <a style="font-family: Roboto; font-weight: bold; color: white;" class='nav-link  mr-5 '
                            href="/admin/addadmin">Add Admin</a>
                        <% }%>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/logout"
                        style="font-family: Roboto; font-weight: bold; color: white;">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>