<nav class="navbar navbar-expand-lg navbar-dark d-absolute"
    style="background-color: #050939; padding-bottom: 0px; margin: 0px;">
    <div class="container-fluid">
        <ul>
            <a class="navbar-brand" href='/admin/home'><img src="/img/LOGO (3) 1.png" alt="logo"></a>
        </ul>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">

                <li class="nav-item me-2">

                    <button type="button" class="btn btn-primary btn-sm" style=""> <a
                            class="nav-link me-2" type="button" href="/admin/resetpassword"
                            style="font-family: Roboto;font-weight:bold; color: white;">Reset Password </a></button>

                </li>
                <li class="nav-item me-2">

                    <button class="btn btn-primary btn-sm" style=""><a class="nav-link me-2"
                            type="button" href="/admin/addcenter"
                            style="font-family: Roboto;font-weight:bold; color: white; ">Add
                            Center</a> </button>

                </li>
                <li class="nav-item me-2">
                    <button class="btn btn-primary btn-sm" style=""><a class="nav-link"
                          href="/admin/allreviews"
                            style="font-family: Roboto;font-weight:bold; color: white; ">
                            All Centers</a></button>


                </li>
                <li class="nav-item me-5">
                    <% if (admin.role==='Admin' ){ %>

                        <button class="btn btn-primary btn-sm" style=""><a
                                style="font-family: Roboto; font-weight: bold; color: white;" class='nav-link '
                                href="/admin/addadmin">Add Admin</a> </button>

                        <% }%>
                </li>
                <li class="nav-item me-2">
                    <button class="btn btn-primary btn-sm" style=""><a class="nav-link"
                            href="/admin/logout"
                            style="font-family: Roboto; font-weight: bold; color: white;">Logout</a> </button>
                </li>
            </ul>
        </div>
    </div>
</nav>
<%-include('error.ejs')  %> 
<%- include('success.ejs') %>