<title>about</title>
<!-- <link rel="stylesheet" href="/CSS/owl.carousel.min.css">
    <link rel="stylesheet" href="/CSS/owl.theme.default.min.css"> -->

<link rel="stylesheet" href="/CSS/about.css">
<% layout('layouts/boilerplate.ejs') %>
    <%- include('partials/navBar_nocenter.ejs') %>

        <!-- <link rel="stylesheet" href="/node_modules/owl.carousel/dist/assets/owl.carousel.min.css" /> -->


        <div class=" px-1 m-2"
            style="max-width: 100%; margin: 0px !important; padding: 0px !important;background-color: rgba(255, 255, 255, 0.3);">
            <div id="white" class="px-1 m-2">
                <img class="track" src="img/track.png">
                <br>
                <br>

                <div class="row ms-2 mt-5 py-3 me-3">
                    <div class="col-md-8 col-sm-11">
                        <h1 class="display-4 header" id="Header">What is TRACK VAC?</h1>

                    </div>
                    <div class="col-md-3 col-sm-6">
                        <a class="menu text btn text-center meettheteam" id="Starttracking" style="z-index: 2;" href="about/team">Meet the Team
                        </a>

                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-sm-11 col-md-9 col-lg-7 p-2" id='description'>
                        <br>
                        <ul>
                            <li class="who description1"> “Track-Vac” is a website, which will contain all
                                the
                                necessary information about how to receive the
                                vaccine locally.
                            </li>
                            <li class="who description2">“Track-Vac” will enable local community members
                                to exchange and share their experience to help in
                                the fight against the pandemic spread.

                            </li>
                        </ul>
                        <div class="col-6 p-2">
                            <hr class='line'>
                        </div>
                        <h3 class="aim description3">Our Aim is to raise the awareness of the local
                            community about COVID-19 vaccination process.</h3>
                        <br>
                        <br>

                    </div>
                </div>
                <br>
                <div class="row mt-5 mb-3 align-items-center justify-content-center">
                    <div class='col-3 text-end'>
                        <img src="/img/Shape.png" alt="" class='location'"> 
                    </div>
                    <div class="col-lg-6 col-sm-10 d-flex align-items-center justify-content-start">

                        <p id='Slogan' class="mt-auto mb-auto slogan"> The Best For You,<br>
                            <span> Showed For You.</span>
                        </p>
                    </div>
                </div>
            


      

        <%- include('partials/footer.ejs') %>
            <!--<div>
       
    </div> -->

            <script src="/node_modules/jquery/dist/jquery.js"></script>
            <!-- <script src="/node_modules/owl.carousel/dist/owl.carousel.min.js"></script> -->

            <sscript src="javaScripts/jquery.js"></script>
            <!-- <script src="javaScrips/owl.carousel.min.js"></script> -->
            <script src="javaScripts/main.js"></script>
           
            <script src="javaScripts/jquery.inview.min.js"></script>
            <script src="/javasScripts/about.js"></script>