
    
    <% layout('layouts/boilerplate_track.ejs') %>
    <%- include('partials/navBar_nocenter.ejs') %>
    <div id="white" class="container px-1 m-2">
        <div class="row ml-3 mt-4">
            <div class="col-5 p-2">
                <h1 class="display-5" id="Header">What is TRACK VAC?</h1>
                
            </div>
            <div class="col-2 p-2 offset-4">
                <label for="language"></label>
                <select name="language" id="language">
                    <option value="" selected disabled hidden>Language</option>
                    <option value="ar">Arabic</option>
                    <option value="en">English</option>

                </select>
            </div>
        </div>
        <div class="row ml-3 mt-3">
            <div class="col-6 p-2 offset-1">
                <p id='description'>Track vac is a website dedicated for you to find the best choice of vaccination
                    centers , showing real experiences from vaccinated people That their reviews are highly appretiated.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-7 p-2">
                <hr class='line'>
            </div>
        </div>
        <br>
        <br>
        <div class="row mt-5">
            <div class='col-1 offset-4'>
                <img src="/img/Shape.png" alt="" class='location'>
            </div>
            <div class="col-6 align-items-center ml-2">

                <p id='Slogan' class="mt-2"> The Best For You,<br>
                    <span> Showed For You.</span>
                </p>
            </div>
        </div>

    </div>
    