
    <title>about</title>
    <link rel="stylesheet" href="public/CSS/owl.carousel.min.css">
    <link rel="stylesheet" href="public/CSS/owl.theme.default.min.css">
    <link rel="stylesheet"  href="public/CSS/about.css">


    <div class="container px-1 m-2" style="max-width: 100%; margin: 0px !important; padding: 0px !important;background-color: rgba(255, 255, 255, 0.3);" >
    <%- include('partials/navBar.ejs') %>
    <div id="white" class="container px-1 m-2" >
        <img class="track" src="img/track.png">

        <% layout('layouts/boilerplate.ejs') %> 
       <br>
       <br>
       <br>
       <br>
        <div class="row ml-3 mt-4" >
            <div class="col-5 p-2 ">
                <h1 class="display-5" id="Header" ">What is TRACK VAC?</h1>
                
            </div>
        </div>
     <!--  <div class="row ml-3 mt-4">
            <div class="col-2 p-2 offset-4">
                <label for="language"></label>
                <select name="language" id="language" style="
                background-color: transparent;
                border: 2px rgb(255, 255, 255) solid;
                border-radius: 10px;
                padding: 2px 2px;
                color: rgb(255, 255, 255);"
                >
                    <option value="" selected disabled hidden>Language</option>
                    <option value="ar">Arabic</option>
                    <option value="en">English</option>

                </select>
            </div>
        </div>--> 
        <div class="row ml-3 mt-3">
            <div class="col-5 p-2" id='description' >
                <br>
                <ul >
                <li class="who"> “Track-Vac” is a website, which will contain all the
                    necessary information about how to receive the
                    vaccine locally.
                </li>
                <li  class="who" >“Track-Vac” will enable local community members
                    to exchange and share their experience to help in
                    the fight against the pandemic spread.

                </li>
                </ul>
                <div class="col-6 p-2">
                    <hr class='line'>
                </div>
                <h3 class="aim">Our Aim is to raise the awareness of the local
                    community about COVID-19 vaccination process.</h3>
                <br>
                <br>

            </div>
        </div>
        <br>
       <!--<div class="row">
            <div class="col-6 p-2">
                <hr class='line'>
            </div>
        </div>-->
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

       <!-- <div class="container px-1 m-2" style="height: 100vh;">
            <div class="row mt-5">
                <div class='col-1 offset-3'>
                    <img src="/img/Shape.png" alt="" class='location'>
                </div>
                <div class="col-6 align-items-center ml-2">
    
                    <p id='Slogan' class="mt-2"> The Best For You,<br>
                        <span> Showed For You.</span>
                    </p>
                </div>
            </div>
        </div> -->

 
    <div class=" container px-1 m-2 Team" >
        <br>
        <br>
      <div class="section animated-row" >
            <div class="row justify-content-center">
                <div class="col-md-8 wide-col-laptop">
                    <div class="title-block animate offset-3" data-animate="fadeInUp">
                        <span>Welcome on board</span>
                        <h2>Meet the team!</h2>
                    </div>
                    <div class="photos">
                        <div class="services-list owl-carousel">
                            <div class="item animate" data-animate="fadeInUp">
                                <div class="box">
                                   <img class="team" src="img/Mark.jpeg" >
                                    <p>Mark Wafik </p>
                                </div>
                            </div>
                            <div class="item animate" data-animate="fadeInUp">
                                <div class="box">
                                    <img class="team" src="img/Nawraz.jpeg" >
                                    <p>Nawraz Saeed </p>
                                </div>
                            </div>
                            <div class="item animate" data-animate="fadeInUp">
                                <div class="box">
                                   <img class="team" src="img/Omar.jpeg" >
                                    <p>Omar Ahmed</p>
                                </div>
                            </div>
                            <div class="item animate" data-animate="fadeInUp">
                                <div class="box">
                                    <img class="team" src="img/Salmateama.jpg" >
                                    <p>Salma Teama </p>
                                </div>
                            </div>
                            <div class="item animate" data-animate="fadeInUp">
                                <div class="box">
                                    <img class="team" src="img/Ahmed tamer.jpg" >

                                    <p>Ahmed Tamer</p>
                                </div>
                            </div>
                            <div class="item animate" data-animate="fadeInUp">
                                <div class="box">
                                    <img class="team" src="img/Ahmed Samir.jpg" >
                                    <p>Ahmed Samir </p>
                                </div>
                            </div>
                            <div class="item animate" data-animate="fadeInUp">
                                <div class="box">
                                    <img class="team" src="img/Ahmedbelal.jpg" >
                                    <p> Ahmed Belal</p>
                                </div>
                            </div>
                            <div class="item animate" data-animate="fadeInUp">
                                <div class="box">
                                    <img class="team" src="img/Amera salah.jpg" >

                                    <p>Amera Salah</p>
                                </div>
                            </div>
                            <div class="item animate" data-animate="fadeInUp">
                                <div class="box">
                                    <img class="team" src="img/Aya Ahmed.jpg" >

                                    <p>Aya Ahmed</p>
                                </div>
                            </div>
                            <div class="item animate" data-animate="fadeInUp">
                                <div class="box">
                                   
                                    <img class="team" src="img/Haidy.jpg" >

                                    <p>Haidy</p>
                                </div>
                            </div>
                            <div class="item animate" data-animate="fadeInUp">
                                <div class="box">
                                   
                                    <img class="team" src="img/khaled romeh.jpg" >

                                    <p>khaled Romeh</p>
                                </div>
                            </div>
                            <div class="item animate" data-animate="fadeInUp">
                                <div class="box">
                                   
                                    <img class="team" src="img/Lina.jpg" >

                                    <p>Lina Emad</p>
                                </div>
                            </div>
                            <div class="item animate" data-animate="fadeInUp">
                                <div class="box">
                                   
                                    <img class="team" src="img/Yousefekilany.jpg" >

                                    <p>Yousef El kilany</p>
                                </div>
                            </div>
                            <div class="item animate" data-animate="fadeInUp">
                                <div class="box">
                                   
                                    <img class="team" src="img/Yousefmagdy.jpg" >

                                    <p>Yousef Magdy</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-6 p-2 offset-3">
                <hr class='line'>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-2 p-2 offset-3">
               <img class ="coor" src="img/Tasneem Hazem.jpg">
               <p>Tasneem Hazem</p>
            </div>
            <div class="col-2 p-2">
                <img class ="coor" src="img/Jomanawael.jpg" >
                <p>Jomana wael</p>
            </div>
            <div class="col-2 p-2 ">
                <img class ="coor" src="img/Aliamahmoud.jpg" >
                <p>Alia Mahmoud</p>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-2 p-2 offset-3">
               <img class ="coor" src="img/Dr Eman.jpg">
               <p>Dr Eman</p>
            </div>
            <div class="col-2 p-2">
                <img class ="coor" src="img/Dr Maggie.jpg" >
                <p>Dr Maggie</p>
            </div>
            <div class="col-2 p-2 ">
                <img class ="coor" src="img/Ainshams.jpg" >
                <p>--</p>
            </div>
        </div>
    </div>
   <!--<div>
        <%- include('partials/footer.ejs') %>  
    </div> --> 
</div>

<script src="javaScripts/jquery.js"></script>
<script src="javaScrips/owl.carousel.min.js"></script>
<script src="javaScripts/main.js"></script>
<script src="javaScripts/jquery.inview.min.js"></script>




   