#white{
/* background-color: rgba(255, 255, 255, 0.7); */
    position: absolute;    
    /* height: 100vh; */
    width: 100vw;
    z-index: 1;
}
body{
    background-color: rgba(255, 255, 255, 0.6);
    position: relative;    
    height: 100vh;
    width: 100vw;
    z-index: 1;

}

.track{
    width: 100%;
    height: 100vh ;
    /* //position: absolute; */
    background-color: rgba(255, 255, 255, 0.55);
}
#language{
    background-color: transparent;
    border: 2px black solid;
    border-radius: 10px;
    padding: 2px 2px;
}
#description {
    font-family: Roboto,'sans-serif';
    font-weight: 400;
    font-size: 1.6em;
}
#Slogan {
    font-family: Roboto,'sans-serif';
    color : rgba(0, 0, 0, 0.55);


    font-weight: 700;
    font-size: 2.7em;
    letter-spacing: 2px;
    line-height: 1.3em;
    text-indent: 30px;
}
#Header {
    font-family: Montserrat , 'sans-serif';
    font-weight:400;
   
}
span {
    margin-left: 2.1em;
}

/* hr {
    height: 20px ;
    border-width: 5px;
} */
.line {
    border-top: 2px solid black;
}