.track{
    background-color: rgba(255,255,255,0.3) !important;
}
#filters {
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 18px;
    height: 0%;
    /* transform: translateY(100px); */
  }