@import url(http://fonts.googleapis.com/css?family=Playfair+Display+SC );
html{
  scroll-behavior: smooth;
}
body{
  text-align:center;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
  font-family: 'Montserrat';
  /* overflow-y: hidden; */
}
#homepage {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1afeaf+0,089ca6+22,044a92+52,021f7b+78,050939+100 */
background: #1afeaf; /* Old browsers */
background: -moz-linear-gradient(left,  #1afeaf 0%, #089ca6 22%, #044a92 52%, #021f7b 78%, #050939 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #1afeaf 0%,#089ca6 22%,#044a92 52%,#021f7b 78%,#050939 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #1afeaf 0%,#089ca6 22%,#044a92 52%,#021f7b 78%,#050939 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1afeaf', endColorstr='#050939',GradientType=1 ); /* IE6-9 */
align-items: center;
}
.preloader {
background: #1afeaf; /* Old browsers */
background: -moz-linear-gradient(left,  #1afeaf 0%, #089ca6 22%, #044a92 52%, #021f7b 78%, #050939 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #1afeaf 0%,#089ca6 22%,#044a92 52%,#021f7b 78%,#050939 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #1afeaf 0%,#089ca6 22%,#044a92 52%,#021f7b 78%,#050939 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1afeaf', endColorstr='#050939',GradientType=1 ); /* IE6-9 */
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999;
    text-align: center;
  }
  .preloader-bounce {
    left: 0;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
  }
  .preloader-bounce > span {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin: 0.3em;
    display: inline-block;
    vertical-align: middle;
    -webkit-animation: bounce 0.6s infinite alternate;
    animation: bounce 0.6s infinite alternate;
    background: #fff;
  }
  .preloader-bounce > span:nth-child(2){
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
    background: #fff;
  }
  .preloader-bounce > span:nth-child(3){
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
    background: #fff;
  }
  
  @-webkit-keyframes bounce {
    from {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    to {
      -webkit-transform: translateY(-1.2em);
      transform: translateY(-1.2em);
    }
  }
  
  @keyframes bounce {
    from {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    to {
      -webkit-transform: translateY(-1.2em);
      transform: translateY(-1.2em);
    }
  }
  .disppear {
 animation: vanish 1s forwards;
}
@keyframes vanish {
100%{
    opacity: 0%;
    visibility: hidden;
}  
}

@media only screen and (min-width: 1200px){
  .container, .container-lg, .container-md, .container-sm, .container-xl {
      max-width: 100%; }
  }
  #preloader {
    max-width: 100% !important
  }


/* #globe{
  transform: translate(30px,42px);
} */
#basic-addon1{
  /* transform: translate(30px,42px); */
  background-color: rgba(255, 255, 255, 0.00);
  border: none;
}
#language {
  border: 1px solid #FFFFFF;
  border-radius: 4px;
  color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.00);
  width: 30%;
  /* transform: translateY(45px); */
  text-align: center;
  

}

select{
  border: 1px solid #FFFFFF;
  border-radius: 4px;
  color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.00);
}
option {
  color: rgb(0, 0, 0);
}
#logo {
  width: 75%;
  min-width: 170px;
  padding-top: 3px ;
  max-width: 280px;

}
#up {
  /* transform: translateY(-550px); */
  height: fit-content;
  justify-content: center;
  /* width: 500px;
  height: 500px; */
  /* background-image: url('/img/rectangle 3.png');
  height: 90vh;
  width: 100%;
  min-width: 90%;
  min-height: 500px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: 1.5em; */
}
/* .glass{
  background-image: url('/img/rectangle 3.png');
  height: 90vh;
  width: 100%;
  min-width: 90%;
  min-height: 500px;
  background-size: contain;
  background-repeat: no-repeat;
  
} */
#rectangle {
  min-height: 500px;
  max-height: 600px;
  height: 93% ;
  width:95% !important;
  margin-left: 5px;
  
}
#Starttracking {
  /* transform: translatex(100px); */
  font-size: 150%;
  text-align:center ;
  color: white ;
  background: transparent;
  border: 5px solid  rgba(255, 255, 255, 0.43);
  /* height: 70px; */
  width: 90%;
  backdrop-filter: blur(30px);
  border-radius: 40px;
  
}
#Aboutus {
  /* transform: translatex(150px); */
  font-size: 150%;
  text-align:center ;
  color: white ;
  background: transparent;
  border: 5px solid rgba(255, 255, 255, 0.43);
  /* height: 70px; */
  width: 90%;
  backdrop-filter: blur(30px);
  border-radius: 40px;
}
.menu {
color: #FFFFFF;
}
.menu:hover{
  text-decoration: none;
  color: #ffffff;

}

h1 , h2 , h3 , h4 {
  font-family: 'Montserrat' ;
}
.marker {
  background-image: url('mapbox-icon.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}
.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  padding: 30%;
  text-align: center;
  font-family: roboto, sans-serif;
}


  
#Starttracking:hover , #Aboutus:hover {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.5);
  transition: 1s;
}
.scroll:hover {
  border: 2px solid rgba(0, 0, 26, 0.418);
}
#start {
  max-width: 100%;
  padding: 0px;
}

#filters {
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 18px;
  height: 0%;
  /* transform: translateY(100px); */
}
.navbar {
  padding: -5px;
}
#results {
  /* transform: translateY(50px);
  width: 45%; */
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.50);
  /* Note: backdrop-filter has minimal browser support */
  border: 1px solid rgb(114, 114, 114,.4) ;
  border-radius: 18px;
}
.results {
  /* height: 8vh;
  transform: translateX(50px); */
}
#center {
  color: #000000;
  font-size: large;
  text-decoration: none;
}
/* .text {
  font-size: 1.3rem;
} */
#main {
  background-image: url('/img/track.png');
  background-repeat: no-repeat;
  background-size:scale-down ;
  background-position-x: right;
  background-position-y: bottom;
  /* background-attachment: fixed; */
  background-attachment:fixed;
  min-height: 95vh;
  /* padding: 1.5em; */
}
.thumb{
  border-radius: 12px;
  border :2px #050939 solid;
  max-height: 420px;
}
hr{
  border-top:2px solid  ;
  margin-left: 3px;
  margin-right: 3px;
}
li{
  text-decoration: none !important;
  list-style: none ;
}
@media (max-width : 670px) {
  .text {
    font-size: 1.4em !important;
  }
  #Aboutus , #Starttracking {
    width: 80%;
    background-color: rgba(5, 9, 57, .8);
  }
  #logo{
    margin-left: -5px !important; 
  }
  
}

