
body{
  text-align:center;
  -webkit-text-size-adjust: 100%;
}
#homepage {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1afeaf+0,089ca6+22,044a92+52,021f7b+78,050939+100 */
background: #1afeaf; /* Old browsers */
background: -moz-linear-gradient(left,  #1afeaf 0%, #089ca6 22%, #044a92 52%, #021f7b 78%, #050939 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #1afeaf 0%,#089ca6 22%,#044a92 52%,#021f7b 78%,#050939 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #1afeaf 0%,#089ca6 22%,#044a92 52%,#021f7b 78%,#050939 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1afeaf', endColorstr='#050939',GradientType=1 ); /* IE6-9 */
align-items: center;
}
.preloader {
background: #1afeaf; /* Old browsers */
background: -moz-linear-gradient(left,  #1afeaf 0%, #089ca6 22%, #044a92 52%, #021f7b 78%, #050939 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #1afeaf 0%,#089ca6 22%,#044a92 52%,#021f7b 78%,#050939 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #1afeaf 0%,#089ca6 22%,#044a92 52%,#021f7b 78%,#050939 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1afeaf', endColorstr='#050939',GradientType=1 ); /* IE6-9 */
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999;
    text-align: center;
  }
  .preloader-bounce {
    left: 0;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
  }
  .preloader-bounce > span {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin: 0.3em;
    display: inline-block;
    vertical-align: middle;
    -webkit-animation: bounce 0.6s infinite alternate;
    animation: bounce 0.6s infinite alternate;
    background: #fff;
  }
  .preloader-bounce > span:nth-child(2){
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
    background: #fff;
  }
  .preloader-bounce > span:nth-child(3){
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
    background: #fff;
  }
  
  @-webkit-keyframes bounce {
    from {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    to {
      -webkit-transform: translateY(-1.2em);
      transform: translateY(-1.2em);
    }
  }
  
  @keyframes bounce {
    from {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    to {
      -webkit-transform: translateY(-1.2em);
      transform: translateY(-1.2em);
    }
  }
  .disppear {
 animation: vanish 1s forwards;
}
@keyframes vanish {
100%{
    opacity: 0%;
    visibility: hidden;
}  
}

@media only screen and (min-width: 1200px){
  .container, .container-lg, .container-md, .container-sm, .container-xl {
      max-width: 1540px; }
  }

#header {
    transform: translateY(-740px);
}
#globe{
  transform: translate(30px,42px);
}
#language {
  border: 1px solid #FFFFFF;
  border-radius: 4px;
  color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.00);
  width: 30%;
  transform: translateY(45px);
  text-align: center;

}

select{
  border: 1px solid #FFFFFF;
  border-radius: 4px;
  color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.00);
}
option {
  color: rgb(0, 0, 0);
}

#up {
  transform: translate(30px,-550px);
}
#Starttracking {
  transform: translatex(100px);
  font-size: 200%;
  text-align:center ;
  color: white ;
  background: transparent;
  border: 5px solid  rgba(255, 255, 255, 0.43);
  height: 70px;
  width: 15%;
  backdrop-filter: blur(70px);
  border-radius: 40px;
  
}
#Aboutus {
  transform: translatex(150px);
  font-size: 200%;
  color: white ;
  background: transparent;
  border: 5px solid rgba(255, 255, 255, 0.43);
  height: 70px;
  width: 15%;
  backdrop-filter: blur(70px);
  border-radius: 40px;
}
@import url(http://fonts.googleapis.com/css?family=Playfair+Display+SC );
h1 , h2 , h3 , h4 {
  font-family: 'Montserrat' ;
}


  
button:hover {
  color: #050939;
  background-color: rgba(255, 255, 255, 0.5);
}
#start {
  max-width: 100%;
  padding: 0px;
}

#filters {
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 18px;
  width: 15%;
  height: 50%;
  /*transform: translate(-700px , 100px);*/
}
.navbar {
  padding: 0px;
}