.welcoming {
  font-size: 300%;
  font-weight: bolder;
  color: white ;
}
.Team {
  
    background: linear-gradient(104.15deg, rgba(255, 255, 255, 0.577) 2.5%, rgba(255, 255, 255, .1) 112.38%);
    box-shadow: 50px 60px 100px rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(70px);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 18px;
    color: rgb(2, 2, 42);
    margin-top: 7vh !important;
    max-width: 80%;
  }
.photos {
    padding-top: 5%;
}
.team {
    height: 20vh;
    width: 30%;
  }
  .services-list .item {
    background-color: rgba(250,250,250,0.25);
    border-radius: 10px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }

  .box {
    font-size:15px;
    background-color: rgba(250,250,250,0.25);
    border-radius: 10px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    padding:20px 20px;
    height:100%;
  }
  .services-list .item:hover {
    background-color: #fff;
    color: #1e1e1e;
  }
  .box p:last-child {
    margin:0;
  }
  .owl-carousel .owl-dots .owl-dot {
    border-radius: 3px;
  }
  .owl-dots {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      margin-top: 50px
  }
  
  .owl-carousel .owl-dots .owl-dot {
      width: 12px;
      height: 12px;
      margin: 0 5px;
      background: rgba(255, 255, 255, .2)
  }
  
  .owl-carousel .owl-dots .owl-dot:focus {
      outline: none
  }
  
  .owl-carousel .owl-dots .owl-dot.active {
      background: #fff
  }
  .coor {
    border-radius: 50%;
    /* display: block; */
  max-width:80%px;
  max-height:20vh;
  width: auto;
  height: auto;
     
    }
  .box- {
    font-size:15px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    border-radius: 50%;
    border-color: white;
    }
    #Slogan {
      font-family: Roboto,'sans-serif';
      color : rgba(0, 0, 0, 0.55);
      font-weight: 700;
      font-size: 2.7em;
      letter-spacing: 2px;
      line-height: 1.3em;
      text-indent: 30px;

  }
  .s {
    margin-inline-start: 2.1em;
}